<ul>
	
<% @links.each do |link| %>
	<li>
		<a href="/home/page/<%=link[0]%>/per_page/<%=link[1]%>"><%=link[2] %></a>
	</li>
<% end %>
</ul>
<ul>
<% @courses.each do |course| %>
	<li>
		<div><a href="/home/course/<%=course["id"]%>"><%= course["name"] %></a></div>
		<div><%= course["description"] %></div>
		<hr/>
	</li>
<% end %>
</ul>
